.Home {
	margin-top: 62px;
	height: calc(100vh - 62px);
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Wrapper {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.Wrapper::-webkit-scrollbar {
	width: 0.5em;
}

.Wrapper::-webkit-scrollbar-track {
	background-color: black;
}
.Wrapper::-webkit-scrollbar-track-piece:start {
	background: transparent;
	margin-top: 62px;
}

.Wrapper::-webkit-scrollbar-thumb {
	background-color: rgba(43, 43, 43, 0.384);
	border-radius: 25px;
	z-index: 100;
}

.Main {
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	animation: fade-in-right ease-in-out 0.6s forwards;
}

.Main h1 {
	text-transform: uppercase;
	font-family: "Big Shoulders Display", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 5em;
	letter-spacing: 0.15em;
	margin-bottom: 5px;
}

.Main h2 {
	font-weight: 300;
}

@keyframes fade-in-right {
	from {
		opacity: 0;
		transform: translateX(-15px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
