/* Header style - background and algin elements center */
.Header {
	position: fixed;
	top: 0;
	height: 90px;
	background-color: black;
	width: 100%;
	display: flex;
	align-items: center;
}

/* Logo styles */
.Logo {
	font-family: "Big Shoulders Display", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	color: white;
	text-decoration: none;
	margin-left: 1em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.8em;
	font-weight: 700;
	width: 250px;
}

/* NavLinks - right group styles */

.RightGroup {
	margin-left: auto;
	margin-right: 3em;
}

.NavLink {
	color: white;
	text-decoration: none;
	padding: 20px;
	font-size: 1.2em;
}

.CaNav {
	background-color: white;
	color: black;
	text-decoration: none;
	padding: 10px;
	margin: 0px 10px;
	border-radius: 3px;
	font-size: 1.2em;
	/* box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044),
		0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061),
		0 25px 20px rgba(0, 0, 0, 0.1); */
}

/* NavLink pseudo for hover */
.Header a {
	background: none;
	transition: color 0.3s ease-in-out, background 0.1 ease-in-out;
}

.Header a:hover {
	background: -webkit-linear-gradient(
		left,
		rgb(119, 154, 250),
		rgb(120, 192, 250)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
